/* Общие стили, которые применяются к любым экранам */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

header {
    background-image: linear-gradient(to right, #6C3A98, #36D1DC);
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.social-menu {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-menu li {
    margin: 0 10px;
}

.social-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-size: calc(1.5em - 1px);
    transition: font-size 0.2s ease-in-out;
}

.social-menu a:hover {
    color: #6C3A98;
    font-size: 1.5em;
}

footer {
    background-image: linear-gradient(to right, #6C3A98, #36D1DC);
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

/* Медиа-запрос для мобильных устройств (ширина экрана меньше 768px) */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Уменьшаем размер шрифта для мобильных устройств */
    }

    .social-menu {
        margin-top: 10px; /* Уменьшаем отступ сверху для мобильных устройств */
    }

    .social-menu a {
        font-size: 1.2em; /* Уменьшаем размер шрифта ссылок для мобильных устройств */
    }

    .btn-8bit {
        font-size: 1em; /* Уменьшаем размер шрифта кнопок для мобильных устройств */
    }
}
